.item-list-container {
    display: flex;
    background-color: #C0E8B6;
    justify-content: center;
    flex-direction: column;
}
.item-list-container h6{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2%;
    margin-left: 2%;
}
.item-list-cols{
    display: flex;
    width: 100%;
}
.item-list-cols > div{
    width: 100%;
}
