.card {
    background-color: #E3EEBE !important;
    width: 100%;
}

.btn {
    font-size: 14px !important;
}

.imagenes{
    overflow: hidden; /*Si se sale de los limites del contenido*/
    display:flex;
    justify-content: center;
    width: 100%;
    height:100%;
}
/* agregue 100% para q cubran todo el alto y el ancho del div*/
.imagenes > img {
    width: 100%;
    height:100%;
}

@media only screen and (max-width: 1024px) {
    .card-descripcion {
    width: auto;
    height: 200px;
    }
}

